*{
  padding: 0px;
  margin: 0px;
}
.nav{
  height: 68px;
  width: 100%;
  background-color: white;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.logo{
  /* height:60px; */
  margin-left: 100%;
  width: 100px;

 margin-top: 10px;
}
.nav-list{
  /* background-color: #89FF95; */
  line-height: 68px;
  width: 40%;
  
}
.ham-burger{
  display: none;
}
.avatar{
  display: flex;
  align-items: center;
  margin-right: 6%;
}
.nav-list ul{
  
  display: flex;
  justify-content: space-around;
  
}
.nav-list ul li{
  list-style: none;
}
.search-bar{
  background-color: #FFAE0F;
  width: 210px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin: 20px;
}

.head{
  background-image: url('./images/back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content:center;
  /* height: 100vh; */
  width: 100%;
  overflow: hidden;
  
}
.one,.three{
width: 5%;
}
.two{
  width: 90%;
  margin: 20px;
}
.three img{
  width: 100%; 
  
}
.one img{
 top: 500px;
 position: absolute;
 width: 5%; 
 left: 26px;


}
.two{
  display: flex;
  justify-content:center;
  margin: 2%;
}
.left-side{
  /* background-color: red; */
  width: 60%;
  /* height: 100vh; */
  margin: 1%;
  
}
.right-side{
  /* background-color: rgb(109, 101, 101); */
  width: 40%;
  margin: 1%;
  /* height: 100vh; */
}
.profile {
  height: 100vh;
  background-color:#ffffff99;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 420px;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px, rgb(0 0 0 / 14%) 0px 5px 8px 0px, rgb(0 0 0 / 12%) 0px 1px 14px 0px;;
}
.profile-img{
  background-image: url('./images/Group55.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 21%;
  height: 37%;
  margin-top: 5%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

}
.profile-img img{
  margin-top: 20px;
  width: 83%;
  height: 83%;
}
.profile-content{
  width: 60%;
  margin: 5%;
}
.tags span{
  border: 0.3px solid rgb(76, 78, 115); 
  display: inline-table; 
  padding: 5px; 
  text-align: center; 
  border-radius: 15px;
   margin: 1%;

}
.edit-btn{
  border:1px solid black !important;
  color:black !important;
  
}
.upcoming-classes{
  /* height: 1032px; */
  background-color: #ffffff99;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px, rgb(0 0 0 / 14%) 0px 5px 8px 0px, rgb(0 0 0 / 12%) 0px 1px 14px 0px;;
  margin-top: 3%;
  padding: 10px;
  border-radius: 5px;
}
.child-1{
  display: flex;
  align-items: center;
 
  /* background-color: bisque; */
  margin: 5%;
  border-radius: 30px;
}
  
.child-img{
  /* background-color: aqua; */
  width: 150px;
  height: 150px;
  margin-right: 4%;
}
.child-content{
  /* background-color: rgb(18, 54, 54); */
  
  height: 150px;

}
.child-img img{
  width: 150px;
  height: 150px;
  border-radius: 13px;
  
}
.clock{
  background: linear-gradient(102.21deg, #FFAE0F 3.69%, #FD2CF5 102.03%);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.14);
  border-radius: 10px;
  width: 175px;
}
.clock img{
  width: 46%;
  
}
.doubt{
  background: radial-gradient(116.76% 600.99% at 2.14% 0%, #89DCFF 0%, #89FF95 100%);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.06);
  border-radius: 7px;
  color: white;
}
.child-imgr img{
  width: 150px;
  height: 120px; 
}
.child-imgr{
  /* background-color: aqua; */
  width: 150px;
  height: 120px;
  margin-right: 4%;
}
.child-contentr{
  /* background-color: rgb(18, 54, 54); */
  
  height: 120px;

}
.childr-1{
  display: flex;
  align-items: center;
  margin: 3%;
  
}
@media screen and (max-width:350px){
  .child-1{
    margin-bottom: 80px !important;
  }
  .doubt-btn{
    font-size: 0.6em !important;
  }
  
}
@media screen and (max-width:700px){
  .child-1,.childr-1{
    margin-bottom: 40px;
  }
  .child-img img ,.child-imgr img{
    width: 111px;
    height: 111px;
   
  }
  .heading1{
    font-size: 1.2em !important;
    font-weight: bold;
    line-height: 20px !important;
  }
  .clock{
    display: none !important;
  }
  .p1{
    font-size: .7em !important;
    line-height: 1em;
  }
  .nav-list{
    display: none;
  }
  .ham-burger{
    display: inline;
    margin-left: 15%;
    color: #fbb03b;
  }
  
}

  @media screen  and (max-width:1300px){
    .one, .three{
      display:none;
    }
    .two{
      width: 100%;
      display: block;
    }
    .profile{
      display: block;
      width: 100%;
      height:auto;
      padding-top: 1px;
      padding-bottom: 1px;
    }
    .left-side{
      width: 100%;
    }
    .right-side{
      width: 100%;
    }
    .doubt{
      margin-top: 20px;
    }
    .profile-img{
      /* display: inline-block; */
        width: 107px !important;
        height: 107px !important;
  
    }
    .profile-img img{
      margin-top: 10px;
    }
    .profile-content{
      width: 90%;
    }
    .user{
      margin-top: 40px;
    }
    .user-name{
      font-size: 20px !important;
    }
    .search-bar{
      display: none;
    }
    .logo{
      margin-left: 20%;
    }
    
  }
  